{
    "races" : {
        "human" : {
            "foodType" : "isOmnivore",
            "stats" : {
                "grit" : 0.2
            },
            "bonusEffects" : []
        }
    },

    "manipulators" : {
        "apex" : {
            "item" : "beamaxeapex"
        },
        "elunite" : {
            "item" : "beamaxeelunite"
        },
        "hylotl" : {
            "item" : "beamaxehylotl",
            "collectLiquid" : true
        }
    }
}
