{
	// Child-parent relationships of the groups.
	// There are two major groups: ORGANIC and INORGANIC.
	// If you wish to add a food type, be sure to add it under one of these!
	"groups" : {
		"ORGANIC" : false,
		
		// yknow, that planty stuff
		"PLANT" : "ORGANIC",
		"FRUIT" : "PLANT",
		
		// Floran likesss meatsss...
		"MEAT" : "ORGANIC",
		"MEAT_COOKED" : "MEAT",
		"MEAT_RAW" : "MEAT",
		"FISH" : "MEAT",
		
		// Some plants, like boneboo, are both plants *and* meat! Qualifying for either major group will suffice!
		"MEAT_PLANT" : [ "PLANT", "MEAT" ],  
		
		// Milk, cheese, etc.
		"DAIRY" : "ORGANIC",
		
		"EGG" : "ORGANIC",
		
		// For those that need that sugary stuff (Candavasians)
		"HIGH_GLUCOSE" : "ORGANIC",
		
		// Rocks and stuff like that.
		"INORGANIC" : false,
		"ROCK" : "INORGANIC",
		"ROCK_HOT" : "INORGANIC",
		"ROCK_COLD" : "INORGANIC",
		"ROCK_RAD" : "INORGANIC",
		
		// Glitch plants are weird...
		"ROBOT_PLANT" : false
	},
	
	// Default bonus effects
	"bonus" : {
		"PLANT" : "plant_bonus",
		"MEAT_COOKED" : "meat_cooked_bonus",
		"MEAT_RAW" : "meat_raw_bonus",
		
	},
	
	// Default penalty effects
	"penalty" : {},
	
	// Icons for the food groups, to appear on food tooltips when I get around to it
	"typeIcons" : {
		"ORGANIC" : "/items/generic/crafting/geneticmaterial.png",
		"PLANT" : "/items/generic/crafting/plantfibre.png",
		"FRUIT" : "/items/generic/",
		"MEAT_COOKED" : "/items/generic/meat/cookedalienmeat.png",
		"MEAT_RAW" : "/items/generic/meat/alienmeat.png"
	},
	
	
	
	// Diets consist of two lists: one "major" list of the overall diet, and a "minor" list of the exceptions.
	// When consuming food, it checks these lists first, starting with the "major" list - then continues to check that group's parent(s) the same way
	// Placing "false" instead of "true" in the "major" list will remove that group's ability to confer a diet-alignment bonus.
	// The diets given below are samples; you can use them in your race files by name, but you may wish to build your own instead.
	"diets" : {
		// Carnivores are fine with eating cooked meat - but you won't get a diet bonus that way!
		"carnivore"       : [ { "ORGANIC" : true, "MEAT_COOKED" : false }, 
							  { "PLANT" : true } ],
		"omnivore"        : [ { "ORGANIC" : true },
							  { "MEAT_RAW" : true } ],
		// By having ORGANIC and FISH but excluding PLANT and MEAT, Piscivores can enjoy miscellaneous ORGANIC products (milk, etc.) as well as fish
		"piscivore"       : [ { "ORGANIC" : true, "FISH" : true }, 
							  { "PLANT" : true, "MEAT" : true } ],
		"herbivore"       : [ { "ORGANIC" : true }, 
							  { "MEAT" : true, "EGG" : true } ],
		"robot"           : [ { "ROBOT_PLANT" : true } ],
		"lithivore"       : [ { "ROCK": true } ]
	}
}