{
    // Vanilla races
    "apex" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.3 },
            { "stat" : "foodDelta", "baseMultiplier" : 1.06146 },

            { "stat" : "fireResistance", "amount" : -0.3 },
            { "stat" : "iceResistance", "amount" : 0.3 },
            { "stat" : "poisonResistance", "amount" : 0.1 },
            { "stat" : "cosmicResistance", "amount" : -0.1 },

            { "stat" : "fujungleslowImmunity", "amount" : 1 },
            { "stat" : "jungleslowImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.08,
            "airJumpModifier" : 1.15
        },

        "envEffects" : [
            {
                "biomes" : [ "jungle", "thickjungle", "forest", "snow", "arboreal", "arborealdark" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.1 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.15 }
                ]
            }
        ],

        "special" : [ "apexRageBonus" ]
    },

    "avian" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.85 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.1 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },
            { "stat" : "fallDamageMultiplier", "baseMultiplier" : 0.65 },

            { "stat" : "physicalResistance", "amount" : -0.05 },
            { "stat" : "electricResistance", "amount" : 0.25 },
            { "stat" : "iceResistance", "amount" : -0.4 },
            { "stat" : "poisonResistance", "amount" : -0.25 },
            { "stat" : "shadowResistance", "amount" : 0.15 },
            { "stat" : "cosmicResistance", "amount" : 0.25 }
        ],

        "controlParameters" : {
            "airJumpProfile" : {
                "jumpSpeed" : 30
            }
        },

        "special" : [ "aerialEffect" ],
        "aerialEffect" : {
            "airStats" : {
                "stats" : [
                    { "stat" : "powerMultiplier", "baseMultiplier" : 1.12 }
                ]
            },
            "fallStats" : {
                "controlParameters" : {
                    "airForce" : 30,
                    "runSpeed" : 14,
                    "walkSpeed" : 14
                },
                "maxFallSpeed" : -39
            },
            "windEffects" : {
                "windHigh" : {
                    "speed" : 60
                },
                "windLow" : {
                    "speed" : 5,
                    "stats" : [
                        { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                        { "stat" : "protection", "baseMultiplier" : 1.10 }
                    ],
                    "controlModifiers" : {
                        "speedModifier" : 1.19,
                        "airJumpModifier" : 1.20,
                        "airForce" : 86
                    }
                }
            }
        }
    },

    "floran" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.05 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.2 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05},

            { "stat" : "electricResistance", "amount" : 0.25 },
            { "stat" : "fireResistance", "amount" : -0.5 },
            { "stat" : "iceResistance", "amount" : 0.25 },
            { "stat" : "poisonResistance", "amount" : -0.25 },
            { "stat" : "radioactiveResistance", "amount" : 0.2 },

            { "stat" : "electricStatusImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "thickjungle", "forest", "jungle", "bog", "arboreal", "arborealdark" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.10 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.10 }
                ]
            }
        ],

        "special" : [ "starvingedgefloran", "lightregenfloran" ]
    },

    "glitch" : {
        "stats" : [
            { "stat" : "isRobot", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.05 },
            { "stat" : "protection", "baseMultiplier" : 1.05 },

            { "stat" : "physicalResistance", "amount" : 0.2 },
            { "stat" : "electricResistance", "amount" : -0.3 },
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "cosmicResistance", "amount" : -0.3 },
            { "stat" : "radioactiveResistance", "amount" : 0.2 },

            { "stat" : "grit", "amount" : 0.2 },
            { "stat" : "poisonStatusImmunity", "amount" : 1 },
            { "stat" : "beestingImmunity", "amount" : 1 }
        ],

        "special" : [ "liquidEffect", "glitchStuff" ],
        "liquidEffects" : [
            {
                "name" : "glitchLiquidEffect",
                "liquids" : [ 5, 44, 11 ],
                "stats" : [
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.25 },
                    { "stat" : "energyRegenPercentageRate", "amount" : 0.484 },
                    { "stat" : "healthRegen", "amount" : 0.484 }
                ]
            }
        ]
    },

    "human" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "grit", "amount" : 0.2 }
        ],

        "controlParameters" : {
            "liquidJumpProfile" : {
                "jumpHoldTime" : 0.28
            }
        }
    },

    "hylotl" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.20 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.10 },
            { "stat" : "maxBreath", "amount" : 1500 },

            { "stat" : "electricResistance", "amount" : -0.4 },
            { "stat" : "iceResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : -0.1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "ocean", "oceanfloor" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.12 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.12 },
                    { "stat" : "protection", "baseMultiplier" : 1.15}
                ]
            }
        ],

        "special" : [ "liquidEffect", "swimboost2" ],
        "liquidEffects" : [
            {
                "liquids" : [ 1, 6, 58, 12 ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.25 },
                    { "stat" : "physicalResistance", "amount" : 0.2 },
                    { "stat" : "perfectBlockLimit", "amount" : 2 }
                ]
            }
        ]
    },

    "novakid" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.90 },
            { "stat" : "maxEnergy" , "baseMultiplier" : 1.20 },

            { "stat" : "physicalResistance", "amount" : -0.15 },
            { "stat" : "electricResistance", "amount" : -0.2 },
            { "stat" : "fireResistance", "amount" : 0.25 },
            { "stat" : "iceResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : -0.4 },
            { "stat" : "radioactiveResistance", "amount" : 0.4 },

            { "stat" : "grit", "amount" : 0.2 },
            { "stat" : "fireStatusImmunity", "amount" : 1 },
            { "stat" : "radiationburnImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.05
        },

        "envEffects" : [
            {
                "biomes" : [ "alien", "jungle", "irradiated", "chromatic" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                    { "stat" : "maxEnergy", "amount" : 1.15 }
                ]
            }
        ],

        "special" : [ "foodregennovakid" ]
    },

    // Modded races
    "argonian" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.8 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.88 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.95 },
            { "stat" : "protection", "baseMultiplier" : 1.05 },
            { "stat" : "maxBreath", "amount" : 1100 },

            { "stat" : "electricResistance", "amount" : -0.2 },
            { "stat" : "iceResistance", "amount" : -0.4 },
            { "stat" : "poisonResistance", "amount" : 0.4 },
            { "stat" : "cosmicResistance", "amount" : 0.1 },
            { "stat" : "radioactiveResistance", "amount" : 0.1 },

            { "stat" : "poisonStatusImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "bog", "swamp", "strangesea" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.25 }
                ],
                "controlModifiers" : {
                    "speedModifier" : 1.15
                }
            }
        ],

        "special" : [ "argonianRegen", "swimboost1" ]
    },

    "avali" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },

            { "stat" : "fireResistance", "amount" : -0.4 },
            { "stat" : "iceResistance", "amount" : 0.4 },

            { "stat" : "snowslowImmunity", "amount" : 1 },
            { "stat" : "iceslipImmunity", "amount" : 1 },
            { "stat" : "fallDamageMultiplier", "baseMultiplier" : 0.35 },
            { "stat" : "iceStatusImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.09,
            "airJumpModifier" : 1.09
        },

        "envEffects" : [
            {
                "biomes" : [ "snow", "arctic", "arcticdark", "icemoon", "icewaste", "icewastedark" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.25 }
                ],
                "controlModifiers" : {
                    "speedModifier" : 1.14
                }
            },
            {
                "biomes" : [ "scorchedcity", "desert", "desertwastes", "desertwastesdark", "magma", "magmadark", "volcanic", "volcanicdark" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 0.75 }
                ],
                "controlModifiers" : {
                    "speedModifier" : 0.9,
                    "jumpModifier" : 1.0
                }
            }
        ],

        "special" : [ "aerialEffect" ],
        "aerialEffect" : {
            "airStats" : {
                "stats" : [
                    { "stat" : "powerMultiplier", "baseMultiplier" : 1.10 }
                ]
            },
            "fallStats" : {
                "controlParameters" : {
                    "airForce" : 40,
                    "runSpeed" : 16,
                    "walkSpeed" : 16
                },
                "maxFallSpeed" : -39
            },
            "windEffects" : {
                "windLow" : {
                    "speed" : 70,
                    "controlModifiers" : {
                        "speedModifier" : 1.12,
                        "airJumpModifier" : 1.12
                    }
                },
                "windHigh" : {
                    "speed" : 7,
                    "controlModifiers" : {
                        "speedModifier" : 1.20,
                        "airJumpModifier" : 1.20
                    }
                }
            }
        }
    },

    "avikan" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.15 },
            { "stat" : "protection", "baseMultiplier" : 1.05 },

            { "stat" : "fireResistance", "amount" : 0.5 },
            { "stat" : "iceResistance", "amount" : -0.5 },
            { "stat" : "radioactiveResistance", "amount" : 0.2 },

            { "stat" : "grit", "amount" : 0.25 },
            { "stat" : "fireStatusImmunity", "amount" : 1 },
            { "stat" : "sandstormImmunity", "amount" : 1 },
            { "stat" : "quicksandImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "snow", "arctic", "arcticdark", "icemoon", "icewaste", "icewastedark" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                    { "stat" : "protection", "baseMultiplier" : 1.05 },
                    { "stat" : "healthRegen", "amount" : 0.04 }
                ]
            },
            {
                "biomes" : [ "scorchedcity", "desert", "desertwastes", "desertwastesdark", "magma", "magmadark", "volcanic", "volcanicdark"],
                "stats" : [
                    { "stat" : "energyRegenPercentageRate", "baseMultiplier" : 0.5 }
                ]
            }
        ]
    },

    "bunnykin" : {
        "stats" : [
            { "stat" : "isHerbivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 1.06146 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.80 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.90 },

            { "stat" : "fireResistance", "amount" : -0.2 },
            { "stat" : "iceResistance", "amount" : 0.3 },
            { "stat" : "cosmicResistance", "amount" : 0.2 },

            { "stat" : "slimestickImmunity", "amount" : 1 },
            { "stat" : "jungleslowImmunity", "amount" : 1 },
            { "stat" : "fumudslowImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.18,
            "airJumpModifier" : 1.20
        },

        "envEffects" : [
            {
                "biomes" : [ "forest", "garden", "tundra", "snow" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.10 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.20 }
                ]
            }
        ]
    },

    "callistan" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.6 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.12 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },

            { "stat" : "electricResistance", "amount" : -0.3 },
            { "stat" : "fireResistance", "amount" : 0.2 },
            { "stat" : "iceResistance", "amount" : 0.3 },
            { "stat" : "poisonResistance", "amount" : -0.2 },
            { "stat" : "shadowResistance", "amount" : 0.2 },
            { "stat" : "cosmicResistance", "amount" : -0.2 },
            { "stat" : "radioactiveResistance", "amount" : 0.2 },

            { "stat" : "fumudslowImmunity", "amount" : 1 },
            { "stat" : "jungleslowImmunity", "amount" : 1 },
            { "stat" : "spiderwebImmunity", "amount" : 1 },
            { "stat" : "sandstormImmunity", "amount" : 1 },
            { "stat" : "snowslowImmunity", "amount" : 1 },
            { "stat" : "slushslowImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "garden", "forest", "arboreal", "rainforest" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                    { "stat" : "powerMultiplier", "baseMultiplier" : 1.10 }
                ]
            }
        ],

        "special" : [ "callistanFoodRush" ]
    },

    "droden" : {
        "stats" : [
            { "stat" : "isRobot", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.00003 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.15 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.10 },

            { "stat" : "physicalResistance", "amount" : -0.25 },
            { "stat" : "electricResistance", "amount" : -0.4 },
            { "stat" : "poisonResistance", "amount" : 0.4 },
            { "stat" : "radioactiveResistance", "amount" : 0.4 },

            { "stat" : "breathProtection", "amount" : 1 },
            { "stat" : "poisonStatusImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.10
        }
    },

    "elunite" : {
        "stats" : [
            { "stat" : "isRobot", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.85 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.20 },

            { "stat" : "electricResistance", "amount" : 0.4 },
            { "stat" : "shadowResistance", "amount" : -0.5 },

            { "stat" : "electricStatusImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.04,
            "airJumpModifier" : 1.05,
            "liquidImpedance" : 0.6,
            "minimumLiquidPercentage" : 0.4,
            "liquidForce" : 25,
            "groundForce" : 115
        }
    },

    "familiar" : {
        "stats" : [
            { "stat" : "isHerbivore", "amount" : 1 },
            { "stat" : "foodDelta" , "baseMultiplier" : 0.8 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.8 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.4 },
            { "stat" : "maxBreath", "amount" : 200 },

            { "stat" : "physicalResistance", "amount" : -0.2 },
            { "stat" : "electricResistance", "amount" : -0.5 },
            { "stat" : "fireResistance", "amount" : 0.2 },
            { "stat" : "iceResistance", "amount" : 0.2 },
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : 0.2 },
            { "stat" : "cosmicResistance", "amount" : 0.4 },
            { "stat" : "radioactiveResistance", "amount" : 0.2 },

            { "stat" : "webstickImmunity", "amount" : 1 },
            { "stat" : "blacktarImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.05
        },

        "special" : [ "familiarglow" ]
    },

    "felin" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.88 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.95 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },
            { "stat" : "fallDamageMultiplier", "effectiveMultiplier" : 0.40 },

            { "stat" : "poisonResistance", "amount" : -0.4 },
            { "stat" : "shadowResistance", "amount" : 0.4 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.06,
            "airJumpModifier" : 1.12
        },

        "envEffects" : [
            {
                "biomes" : [ "jungle", "thickjungle", "alien", "protoworld", "arboreal", "arborealdark"],
                "stats" : [
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.10 },
                    { "stat" : "protection", "baseMultiplier" : 1.05 }
                ]
            }
        ]
    },

    "fenerox" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 1.06346 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.85 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.10 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },

            { "stat" : "physicalResistance", "amount" : -0.05 },
            { "stat" : "electricResistance", "amount" : 0.25 },
            { "stat" : "iceResistance", "amount" : -0.4 },
            { "stat" : "poisonResistance", "amount" : -0.25},
            { "stat" : "shadowResistance", "amount" : 0.15 },
            { "stat" : "cosmicResistance", "amount" : 0.25 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.06,
            "airJumpModifier" : 1.11
        },

        "envEffects" : [
            {
                "biomes" : [ "savannah" ],
                "stats" : [
                    { "stat" : "powerMultiplier", "baseMultiplier" : 1.15 }
                ]
            }
        ],

        "special" : [ "darkregenfenerox" ]
    },

    "gardevan" : {
        "stats" : [
            { "stat" : "isHerbivore", "amount" : 1 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.15 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.08
        },

        "special" : [ "gardevanBonus", "lighthunter", "lightregenfloran" ]
    },

    "greckan" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.7 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.4 },

            { "stat" : "physicalResistance", "amount" : 0.15 },
            { "stat" : "electricResistance", "amount" : -0.5},
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : 0.12 },

            { "stat" : "erchiusImmunity", "amount" : 1 },
            { "stat" : "poisonStatusImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "moon", "moon_shadow", "moon_toxic", "moon_desert", "moon_stone"],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                    { "stat" : "protection", "baseMultiplier" : 1.10 }
                ],
                "controlModifiers" : {
                    "speedModifier" : 1.15,
                    "airJumpModifier" : 1.15
                }
            }
        ],

        "special" : [ "undergroundBonus" ],
        "undergroundBonus" : {
            "stats" : [
                { "stat" : "maxHealth", "baseMultiplier" : 1.15 }
            ],
            "controlModifiers" : {
                "speedModifier" : 1.10,
                "airJumpModifier" : 1.10
            }
        }
    },

    "gyrusen" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1},
            { "stat" : "foodDelta", "baseMultiplier" : 0.7 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.10 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.80 },

            { "stat" : "fireResistance", "amount" : 0.25 },
            { "stat" : "iceResistance", "amount" : -0.35 }
        ]
    },

    "kazdra" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.6 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.3 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.8 },
            { "stat" : "protection", "amount" : 2 },

            { "stat" : "physicalResistance", "amount" : 0.15 },
            { "stat" : "fireResistance", "amount" : 0.5 },
            { "stat" : "iceResistance", "amount" : -0.5 },

            { "stat" : "fireStatusImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "volcanic", "volcanicdark", "magma", "magmadark", "desert", "mountainous" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                    { "stat" : "protection", "baseMultiplier" : 1.10 }
                ]
            },
            {
                "biomes" : [ "snow", "arctic", "arcticdark", "tundra", "icewaste", "icewastedark", "icemoon", "nitrogensea" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 0.80 },
                    { "stat" : "protection", "baseMultiplier" : 0.80 }
                ]
            }
        ],

        "special" : [ "kazdraBonus" ]
    },

    "kemono" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.8 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.3 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.88 },
            { "stat" : "shieldRegen", "amount" : 2 },
            { "stat" : "perfectBlockLimitRegen", "amount" : 1 },

            { "stat" : "shadowResistance", "amount" : -0.5 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.10,
            "airJumpModifier" : 1.10
        }
    },

    "kineptic" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.06 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.22 },

            { "stat" : "iceResistance", "amount" : 0.2 },
            { "stat" : "electricResistance", "amount" : -0.15 },
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : -0.25 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.05,
            "airJumpModifier" : 1.05
        },

        "special" : [ "darkregenfenerox" ]
    },

    "lamia" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.5 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.8 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.2 },

            { "stat" : "physicalResistance", "amount" : 0.1 },
            { "stat" : "fireResistance", "amount" : 0.2 },
            { "stat" : "iceResistance", "amount" : -0.4 },
            { "stat" : "poisonResistance", "amount" : 0.3 },
            { "stat" : "shadowResistance", "amount" : 0.3 },
            { "stat" : "cosmicResistance", "amount" : -0.2 },

            { "stat" : "blacktarImmunity", "amount" : 1 },
            { "stat" : "jungleslowImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "airJumpModifier" : 1.20
        }
    },

    "mantizi" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "isRobot", "amount" : 1 },
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "grit", "amount" : 0.3 },

            { "stat" : "physicalResistance", "amount" : 0.2 },
            { "stat" : "fireResistance", "amount" : -0.3 },
            { "stat" : "iceResistance", "amount" : -0.2 },
            { "stat" : "electricResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : 0.2 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "sulphuric", "sulphuricdark", "sulphuricocean", "sulphuricoceanfloor", "jungle", "desert", "desertwastes", "desertwastesdark"],
                "stats" : [
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.10 },
                    { "stat" : "protection", "baseMultiplier" : 1.10 }
                ]
            }
        ]
    },

    "mlp" : {
        "stats" : [   // fuck ponies. this isn't even a real race, but who cares, right?
            { "stat" : "maxHealth", "baseMultiplier" : 0.01 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.01 }
        ]
    },

    "munari" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.15 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },

            { "stat" : "electricResistance", "amount" : -0.4 },
            { "stat" : "fireResistance", "amount" : 0.4 },
            { "stat" : "iceResistance", "amount" : 0.2 },
            { "stat" : "poisonResistance", "amount" : 0.25 },
            { "stat" : "shadowResistance", "amount" : -0.15 },
            { "stat" : "cosmicResistance", "amount" : -0.15 },

            { "stat" : "fumudslowImmunity", "amount" : 1 },
            { "stat" : "breathProtection", "amount" : 1 },
            { "stat" : "wetImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "ocean", "oceanfloor", "tidewater", "tidewaterfloor" ],
                "stats" : [
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.10 },
                    { "stat" : "physicalResistance", "amount" : 0.2 } // was a 1.2 multiplier, but with no base resist, that was nearly pointless
                ]
            }
        ],

        "special" : [ "liquidEffect", "swimboost2" ],
        "liquidEffects" : [
            {
                "liquids" : [ 1, 58, 12 ],  // water, healing water, and swamp water
                "stats" : [
                    { "stat" : "foodDelta", "baseMultiplier" : 0.65 },
                    { "stat" : "fallDamageMultiplier", "baseMultiplier" : 0 } // no fall damage in water. what is this, minecraft?
                ],
                "statusEffects" : [ "regenerationminor" ] // some small regen in the water
            }
        ]
    },

    "neko" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },
            { "stat" : "fallDamageMultiplier", "baseMultiplier" : 0.8 },
            { "stat" : "energyRegenBlockTime", "baseMultiplier" : 0.8 },

            { "stat" : "physicalResistance", "amount" : -0.2 },
            { "stat" : "electricResistance", "amount" : 0.2 },
            { "stat" : "fireResistance", "amount" : 0.2 },
            { "stat" : "iceResistance", "amount" : 0.2 },
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : -0.2 },
            { "stat" : "cosmicResistance", "amount" : -0.2 },
            { "stat" : "radioactiveResistance", "amount" : -0.2 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.15,
            "airJumpModifier" : 1.10
        },

        "special" : [ "novakidglow" ]
    },

    "nightar" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },
            { "stat" : "grit", "amount" : 0.1 },

            { "stat" : "shadowResistance", "aount" : 0.4 },

            { "stat" : "biooozeImmunity", "amount" : 1 }
        ],

        "special" : [ "nightarglow3", "darkhunternightar" ]
    },

    "ningen" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "grit", "amount" : 0.1 },
            { "stat" : "biooozeImmunity", "amount" : 1 }
        ],

        "controlParameters" : {
            "liquidJumpProfile" : {
                "jumpHoldTime" : 0.275
            }
        }
    },

    "orcana" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.30 },
            { "stat" : "protection", "baseMultiplier" : 1.10 },
            { "stat" : "maxBreath", "amount" : 2000 },
            { "stat" : "breathRegenerationRate", "amount" : 70 },

            { "stat" : "electricResistance", "amount" : -0.3 },
            { "stat" : "fireResistance", "amount" : 0.2 },
            { "stat" : "iceResistance", "amount" : 0.3 },
            { "stat" : "poisonResistance", "amount" : -0.2 },
            { "stat" : "radioactiveResistance", "amount" : 0.2 },

            { "stat" : "wetImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "ocean", "oceanfloor", "tidewater", "tidewaterfloor" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.20 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.20 }
                ]
            }
        ],

        "special" : [ "liquidEffect", "swimboost3" ],
        "liquidEffects" : [
            {
                "liquids" : [ 1, 6 ],
                "stats" : [
                    { "stat" : "foodDelta", "baseMultiplier" : 0.50 },
                    { "stat" : "fallDamageMultiplier", "baseMultiplier" : 0 }, // no fall damage in water. what is this, minecraft?
                    { "stat" : "poisonResistance", "amount" : 0.2 } // was a 1.2 multiplier, but what good is that on resist
                ],
                "statusEffects" : [ "regenerationminor" ] // some small regen in the water
            }
        ]
    },

    "peglaci" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.88 },
            { "stat" : "fireResistance", "amount" : -0.4 },
            { "stat" : "iceResistance", "amount" : 0.4 },
            { "stat" : "liquidnitrogenImmunity", "amount" : 1 },
            { "stat" : "iceslipImmunity", "amount" : 1 },
            { "stat" : "iceStatusImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "arctic", "snow", "arcticdark", "snowdark" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.10 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.10 }
                ]
            }
        ]
    },

    "ponex" : {  // You should feel lucky that this pony-related race even *gets* benefits.
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "grit", "amount" : 0.3 },

            { "stat" : "fireResistance", "amount" : -0.75 },
            { "stat" : "shadowResistance", "amount" : -1.00 },

            { "stat" : "honeyslowImmunity", "amount" : 1 },
            { "stat" : "beestingImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.25
        }
    },

    "sergal" : {  // A racial ability for this mod, if you can get past it being broken as shit
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.80 },
            { "stat" : "grit", "amount" : 0.5 },
            { "stat" : "energyRegenBlockTime", "amount" : 1.25 },
            { "stat" : "physicalResistance", "amount" : 0.1 },
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "shadowResistance", "amount" : -0.5 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.12,
            "airJumpModifier" : 1.06
        }
    },

    "skelekin" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },  // they're skeletons. they can eat anything, probably
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "isRobot", "amount" : 1},
            { "stat" : "maxHealth", "baseMultiplier" : 1.20 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.80 },
            { "stat" : "protection", "amount" : 2 },
            { "stat" : "powerMultiplier", "amount" : 0.05 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.001 },

            { "stat" : "physicalResistance", "amount" : 0.2 },
            { "stat" : "fireResistance", "amount" : -1.00 },
            { "stat" : "poisonResistance", "amount" : 0.5 },
            { "stat" : "shadowResistance", "amount" : 0.15 },

            { "stat" : "poisonStatusImmunity", "amount" : 1 },
            { "stat" : "electricStatusImmunity", "amount" : 1 },
            { "stat" : "biomecoldImmunity", "amount" : 1 },
            { "stat" : "biomeradiationImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "atropus", "atropusdark" ],
                "stats" : [
                    { "stat" : "powerMultiplier", "baseMultiplier" : 1.10 }
                ]
            }
        ],

        "special" : [ "liquidEffect", "skelekinRegen" ],
        "liquidEffects" : [
            {   // milk, alien juice, blood, and dark water
                "name" : "skelekinGoodLiquid",
                "liquids" : [ 7, 55, 40, 60],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.25 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.25 },
                    { "stat" : "fallDamageMultiplier", "baseMultiplier" : 0.0 }
                ],
                "status" : [ "regenerationminor" ]
            },
            {   // healing water bad
                "name" : "skelekinBadLiquid",
                "liquids" : [ 6 ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 0.85 },
                    { "stat" : "maxEnergy", "baseMultiplier" : 0.85 },
                    { "stat" : "protection", "baseMultiplier" : 0.85 }
                ]
            }
        ]
    },

    "trink" : {
        "stats" : [
            { "stat" : "isRobot", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 0.03 },
            { "stat" : "maxEnergy", "amount" : 1.3 },

            { "stat" : "physicalResistance", "amount" : 0.2 },
            { "stat" : "electricResistance", "amount" : -1.00 },
            { "stat" : "iceResistance", "amount" : 0.3 },
            { "stat" : "poisonResistance", "amount" : 0.5 },
            { "stat" : "radioactiveResistance", "amount" : 0.5 },

            { "stat" : "poisonStatusImmunity", "amount" : 1 },
            { "stat" : "breathProtection", "amount" : 1 },
            { "stat" : "waterbreathProtection", "amount" : 1 },
            { "stat" : "iceStatusImmunity", "amount" : 1 },
            { "stat" : "iceslipImmunity", "amount" : 1 },
            { "stat" : "snowslowImmunity", "amount" : 1 },
            { "stat" : "slushslowImmunity", "amount" : 1 }
        ],

        "envEffects" : [
            {
                "biomes" : [ "snow", "snowdark", "tundra", "arctic", "arcticdark", "nitrogensea", "icemoon", "frozenvolcanic", "icewaste", "icewastedark" ],
                "stats" : [
                    { "stat" : "energyRegenPercentageRate", "baseMultiplier" : 1.25 }
                ]
            },
            {
                "biomes" : [ "desert", "desertwastes", "desertwastesdark", "magma", "magmadark", "volcanic", "volcanicdark" ],
                "stats" : [
                    { "stat" : "energyRegenPercentageRate", "baseMultiplier" : 0.5 }
                ]
            }
        ]
    },

    "vespoid" : {
        "stats" : [
            { "stat" : "isHerbivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
            { "stat" : "fallDamageMultiplier", "effectiveMultiplier" : 0.20 },

            { "stat" : "fireResistance", "amount" : -0.5 },
            { "stat" : "iceResistance", "amount" : -0.3 },
            { "stat" : "poisonResistance", "amount" : 0.5 },

            { "stat" : "beestingImmunity", "amount" : 1 },
            { "stat" : "honeyslowImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.10,
            "stickyForce" : 2,
            "airForce" : 65.0,
            "liquidForce" : 20.0
        }
    },

    "viera" : {
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "foodDelta", "baseMultiplier" : 1.06146 },
            { "stat" : "maxHealth", "baseMultiplier" : 0.80 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.20 },

            { "stat" : "shadowResistance", "amount" : -0.3 },
            { "stat" : "cosmicResistance", "amount" : 0.3 },

            { "stat" : "slimestickImmunity", "amount" : 1 },
            { "stat" : "slimefrictionImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.12
        },

        "envEffects" : [
            {
                "biomes" : [ "forest", "thickjungle", "arboreal", "arborealdark" ],
                "stats" : [
                    { "stat" : "maxEnergy", "baseMultiplier" : 1.15 },
                    { "stat" : "protection", "baseMultiplier" : 1.10 }
                ],
                "controlModifiers" : {
                    "speedModifier" : 1.18
                }
            }
        ]
    },

    "vulpes" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.12 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.12 },
            { "stat" : "grit", "amount" : 0.4 },

            { "stat" : "iceResistance", "amount" : 0.3 },
            { "stat" : "radioactiveResistance", "amount" : -0.5 },

            { "stat" : "jungleslowImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.14
        }
    },

    "wasphive" : {
        "stats" : [
            { "stat" : "isCarnivore", "amount" : 1 },
            { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
            { "stat" : "maxEnergy", "baseMultiplier" : 0.835 },

            { "stat" : "physicalResistance", "amount" : 0.15 },
            { "stat" : "fireResistance", "amount" : -0.5 },
            { "stat" : "iceResistance", "amount" : -0.5 },

            { "stat" : "insanityImmunity", "amount" : 1 }
        ],

        "controlModifiers" : {
            "speedModifier" : 1.08,
            "airForce" : 45.0,
            "liquidForce" : 20.0
        },

        "special" : [ "aerialEffect" ],
        "aerialEffect" : {
            "fallStats" : {
                "controlParameters" : {
                    "airForce" : 30,
                    "runSpeed" : 18,
                    "walkSpeed" : 14
                },
                "maxFallSpeed" : -39
            }
        }
    },
    
    "skath" : { 
    //their damage is increased while wielding two handed weaponry (melee)
        "stats" : [
            { "stat" : "isOmnivore", "amount" : 1 },
            { "stat" : "maxEnergy", "baseMultiplier" : 1.2 },
            
            { "stat" : "physicalResistance", "amount" : 0.1 },
            { "stat" : "electricResistance", "amount" : -0.1 }, 
            { "stat" : "fireResistance", "amount" : -0.4 }, // negative
            { "stat" : "iceResistance", "amount" : 0.3 }, //posiitive
            { "stat" : "poisonResistance", "amount" : 0.2 },
            { "stat" : "maxBreath", "amount" : 1500 }
        ],
        "special" : [ "liquidEffect", "swimboost2" ],
        "liquidEffects" : [
            {
                "liquids" : [ 1, 6, 58, 12 ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.15 },
                    { "stat" : "physicalResistance", "amount" : 0.15 },
                    { "stat" : "healthRegen", "amount" : 0.005 }
                ]
            }
        ],
        "envEffects" : [
            {
                "biomes" : [ "ocean", "oceanfloor" ],
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.25 },
                    { "stat" : "protection", "amount" : 6 }
                ]
            },
            {
                "biomes" : [ "desert", "desertwastes", "desertwastesdark", "magma", "magmadark", "volcanic", "volcanicdark" ],
                "stats" : [
                    { "stat" : "maxEnergy", "baseMultiplier" : 0.3 }
                ]
            }
        ]
    }
}
