{
  "ephemeral" : {
    "human" :[
      "racehuman"
    ],
    "avian" : [
      "raceavian",
      "hpedge"
    ],
    "apex" : [
      "raceapex",
      "metabolism"
    ],
    "floran" : [
      "racefloran",
      "starvingedgefloran",
      "lightregenfloran"
    ],
    "hylotl" : [
      "racehylotl",
      "swimboost2"
    ],
    "glitch" : [
      "raceglitch",
      "attrition"
    ],
    "novakid" : [
      "racenovakid",
      "foodregennovakid"
    ],
    "avali" : [
      "raceavali"
    ],
    "avikan" : [
      "raceavikan"
    ],
    "peglaci" : [
      "racepeglaci"
    ],
    "felin" : [
      "racefelins"
    ],
    "orcana" : [
      "raceorcana",
      "swimboost3"
    ],
    "munari" : [
      "racemunari",
      "swimboost2"
    ],
    "bunnykin" : [
      "racebunnykin"
    ],
    "ponex" : [
      "raceponex"
    ],
    "viera" : [
      "raceviera"
    ],
    "fenerox" : [
      "racefenerox",
      "darkregenfenerox",
      "darkhunter",
      "metabolismfenerox"
    ],
    "kineptic" : [
      "racekineptic",
      "darkregenfenerox"
    ],
    "vespoid" : [
      "racevespoid"
    ],
    "familiar" : [
      "racefamiliar",
      "familiarglow"
    ],
    "neko" : [
      "raceneko",
      "novakidglow"
    ],
    "sergal" : [
      "racesergal"
    ],
    "vulpes" : [
      "racevulpes"
    ],
    "kemono" : [
      "racekemono"
    ],
    "ningen" : [
      "raceningen"
    ],
    "argonian" : [
      "raceargonian",
      "metabolismargonian",
      "swimboost1"
    ],
    "nightar" : [
      "racenightar",
      "darkhunternightar"
    ],
    "slimeperson" : [
      "raceslimeperson"
    ],
    "lamia" : [
      "racelamia"
    ],
    "gardevan" : [
      "racegardevan",
      "lighthunter",
      "lightregenfloran"
    ],
    "wasphive" : [
      "racewasphive"
    ],
    "elunite" : [
      "raceelunite"
    ],
    "skelekin" : [
      "raceskelekin"
    ],
    "gyrusen" : [
      "racegyrusen"
    ],
    "kazdra" : [
      "racekazdra"
    ]
  }
}
