{
    // Vanilla races
    "apex" : {
        "food" : "omnivore",
        "foodDelta" : 1.06146,
        "maxHealth" : 0,
        "maxEnergy" : 0,
        "healthBonus" : 1,
        "energyBonus" : 1.3,

        "physicalResistance" : 0,
        "electricResistance" : 0,
        "fireResistance" : -0.3,
        "iceResistance" : 0.3,
        "poisonResistance" : 0.1,
        "shadowResistance" : 0,
        "cosmicResistance" : -0.1,
        "radioactiveResistance" : 0,

        "speedModifier" : 1.08,
        "jumpModifier" : 1.15,

        "immunities" : [
            "fujungleslowImmunity",
            "jungleslowImmunity"
        ],

        "environmentalBonus" : {
            "biomes" : [ "jungle", "thickjungle", "forest", "snow", "arboreal", "arborealdark" ],
            "bonus" : {
                "healthBonus" : 1.1,
                "energyBonus" : 1.15
            }
        },

        "special" : [ "apexRageBonus" ]
    },

    "avian" : {
        "food" : "omnivore",
        "healthBonus" : 0.85,
        "energyBonus" : 1.1,
        "attackBonus" : 1.05,

        "physicalResistance" : -0.05,
        "electricResistance" : 0.25,
        "fireResistance" : 0,
        "iceResistance" : -0.4,
        "poisonResistance" : -0.25,
        "shadowResistance" : 0.15,
        "cosmicResistance" : 0.25,
        "radioactiveResistance" : 0,

        "fallDamageMultiplier" : 0.65,
        "jumpSpeed" : 30,

        "special" : [ "avianAerialBonus" ]
    },

    "floran" : {
        "food" : "carnivore",
        "healthBonus" : 1.05,
        "energyBonus" : 1.2,
        "attackBonus" : 1.05,

        "physicalResistance" : 0,
        "electricResistance" : 0.25,
        "fireResistance" : -0.5,
        "iceResistance" : 0.25,
        "poisonResistance" : -0.25,
        "shadowResistance" : 0,
        "cosmicResistance" : 0,
        "radioactiveResistance" : 0.2,

        "immunities" : [ "electricStatusImmunity" ],

        "environmentalBonus" : {
            "biomes" : [ "thickjungle", "forest", "jungle", "bog", "arboreal", "arborealdark" ],
            "bonus" : {
                "healthBonus" : 1.10,
                "energyBonus" : 1.10
            }
        },

        "special" : [ "starvingedgefloran", "lightregenfloran" ]
    },

    "glitch" : {
        "food" : "robot",
        "healthBonus" : 1.15,
        "energyBonus" : 1.05,
        "defenseBonus" : 5,

        "physicalResistance" : 0.2,
        "electricResistance" : -0.3,
        "fireResistance" : 0,
        "iceResistance" : 0,
        "poisonResistance" : 0.2,
        "shadowResistance" : 0,
        "cosmicResistance" : -0.3,
        "radioactiveResistance" : 0.2,
        "grit" : 0.2,

        "immunities" : [ "poisonStatusImmunity", "beestingImmunity" ],

        "special" : [ "glitchStuff" ]
    },

    "human" : {
        "food" : "omnivore",
        "healthBonus" : 1,
        "energyBonus" : 1,
        "physicalResistance" : 0,
        "electricResistance" : 0,
        "fireResistance" : 0,
        "iceResistance" : 0,
        "poisonResistance" : 0,
        "shadowResistance" : 0,
        "cosmicResistance" : 0,
        "radioactiveResistance" : 0,
        "grit" : 0.2,

        "jumpHoldTime" : 0.28
    },

    "hylotl" : {
        "food" : "omnivore",
        "healthBonus" : 1.20,
        "energyBonus" : 1,
        "attackBonus" : 1.10,

        "physicalResistance" : 0,
        "electricResistance" : -0.4,
        "fireResistance" : 0,
        "iceResistance" : 0.2,
        "poisonResistance" : 0,
        "shadowResistance" : -0.1,
        "cosmicResistance" : 0,
        "radioactiveResistance" : 0,

        "environmentalBonus" : {
            "biomes" : [ "ocean", "oceanfloor" ],
            "bonus" : {
                "healthBonus" : 1.12,
                "energyBonus" : 1.12,
                "defenseBonus" : 1.15
            }
        },

        "special" : [ "hylotlWaterBonus", "swimboost2" ]
    },

    "novakid" : {
        "food" : "omnivore",
        "healthBonus" : 0.90,
        "energyBonus" : 1.20,

        "physicalResistance" : -0.15,
        "electricResistance" : -0.2,
        "fireResistance" : 0.25,
        "iceResistance" : 0.2,
        "poisonResistance" : 0,
        "shadowResistance" : -0.4,
        "cosmicResistance" : 0,
        "radioactiveResistance" : 0.4,
        "grit" : 0.2,

        "speedModifier" : 1.05,

        "immunities" : [ "fireStatusImmunity", "radiationburnImmunity" ],

        "environmentalBonus" : {
            "biomes" : [ "alien", "jungle", "irradiated", "chromatic" ],
            "bonus" : {
                "healthBonus" : 1.15,
                "energyBonus" : 1.15
            }
        },

        "special" : [ "foodregennovakid" ]
    }
}
