{
    "glitch" : {
        "shield" : {
            "effectCancelEnergy" : 0.25,
            "raised" : {
                "energyReq" : 0.25,
                "stats" : [
                    { "stat" : "protection", "amount" : 5 },
                    { "stat" : "powerMultiplier", "baseMultiplier" : 1.05 },
                    { "stat" : "healthRegen", "amount" : 0.284 }
                ]
            },
            "unraised" : {
                "stats" : [
                    { "stat" : "maxHealth", "baseMultiplier" : 1.08 }
                ]
            }
        }
    },

    "nightar" : {
        "shield" : {
            "unraised" : {
                "stats" : [
                    { "stat" : "grit", "amount" : 0.15 },
                    { "stat" : "shieldBash", "amount" : 2 }
                ]
            }
        }
    }
}
